@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
}

body {
    background-color: black;
    background: url('../imagens/back-phone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}   

main {
    background-color: rgba(255, 255, 255, 0.829);
    width: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.486);
    color: white;
    font-size: 2em;
}

img {
    display: block;
    margin: auto;
}

img#phone {display: block;}
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}