@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233EFF;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    padding: 10px;
    box-shadow: 2px 2px 0px #111d77;
}

