@charset "UTF-8";

body {
    background-color: pink;

}

h1 {
    color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.video {
    display: flex;
    align-items: center;
    justify-content: center;

}





